.description {
  height: 100px;
  margin-bottom: 40px; }

.load-image {
  margin-top: 30px;
  margin-bottom: 30px; }

#submitted {
  margin-top: 50px; }

.form-group {
  font-family: "Lucida Console", Courier, monospace; }

.form-control {
  border: solid green 1px; }
