.row {
  margin-top: 50px;
  margin-right: 5px;
  margin-bottom: 50px;
  padding-top: 10px;
  padding-bottom: 10px; }

.description {
  height: 100px;
  margin-bottom: 40px; }

#image {
  margin-top: 30px;
  margin-bottom: 30px;
  font-family: "Lucida Console", Courier, monospace; }

#submitted {
  margin-top: 50px; }

.form-group {
  font-family: "Lucida Console", Courier, monospace; }

.form-control {
  border: solid green 1px; }

.donateNow {
  float: right; }

.btn {
  margin-right: 5px; }

aside {
  margin-left: 20px; }
